* {
    background-color: lightblue;
}

#pai{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#logo {
    color:darkorange;
    font-size: 200px;
    font-family: fantasy;
}